.topbar {
    font-family: roboto;
    font-weight: 400;
}

.a001 {
    font-family: roboto;
    font-weight: 300;
}

.a003 {
    background-color: #002884;
}

.a004 {
    background-color: #fcaf19;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    .a002 {
        font-size: 20px;
    }

    .a001 {
        font-size: 16px;
    }
}

footer {
    margin-top: 30px;
    margin-bottom: 20px;
    
}

*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

 /* Center align the text within the three columns below the carousel */
 .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }


  .a1 {
      background-color: rgb(227, 236, 234);
  }